/*#itinerary {
  text-align: right;
}
*/

#itinerary-title {
  width: 350px;
  font-size: 14px;
}

#user-itinerary {
  height: 800px;
  width: 350px;
  font-size: 14px;
}

.itinerary {
  /*left: 100%;*/
  display: flex;
  flex-direction: column;
}

